.header {
    height: 100px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 50px;
}
.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.logo {
    width: 35px;
    height: 25px;
    background-color: darkred;
}
.content {
    display: flex;
    justify-content:space-around;
    height: 200px;
    /* background-color: #ccc; */
    align-items: center; 
    /* align-items: center  центрировнание элементов*/
    /* justify-content: flex-start - размещение элемнов в начале, center - в центре, 
    space-between - равномерное распределение жэлементов по горизонтали и flex-end - размешение элементов в конце; */
}
.block {
    width: 100px;
    height: 50px;
    border: 1px solid #000;
}