* {
    margin: 0px;
    padding: 0px;
}
body {
    background: #e8e8e8 url('../img/bg.png') 50% 130px top no-repeat;
}
.content {
    padding: 168px 0 137px 0;
    max-width: 841px;
    margin: 0 auto;
}

.content-top {
    text-align: center;
    marn: 0 0 70px 0;
}

.content-top__category {
    opacity: .6;
    color: #273d46;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin: 0px 0px 15px 0px;
}
.content-top__title {
    color: #273d46;
    font-family: 36px;
    line-height: 50px;
    font-weight: 725px;
    margin: 0px auto;
}
.content-image {
    box-shadow: 0 15px 65px rgba(15, 16, 16, .15);
    background-color: #fff;
    padding: 10px;
    margin: 0px 0px 90px 0px;
}
.content-bottom {
    padding: 0px 45px;
}
.content-image__item {
    
}
.content-image__item:img {
    max-width: 100%;
}
.content-bottom__text {
    color: #53646b;
    font-size: 24px;
    line-height: 40px;
    margin: 0px 0px 48px 0px;
}
.content-bottom__text {
    color: #53646b;
    font-size: 24px;
    line-height: 24px;
}
.content-bottom__text p:last-child {
    margin: 0;
}
.content-bottom-info {

}
.content-bottom-info {
    margin: 0px 0px 59px 0px;
}
.content-bottom-info-list:li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0px 0px 0px 36px;
    background-image: url('../img/icons/check.png') left no-repeat;
    margin: 0px 0px 15px 0px;
}
.content-bottom-info-list:li:last-child {
    margin: 0px;
}
.content-bottom-info-list:li:nth-child(1) {
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    color: #273d46;
}
.content-bottom-info-list:li:nth-child(2) {
    color: #80b7b3;
    font-style: italic;
}
.content-bottom-info-list:li:nth-child(3) {
    color: #273d46;
    font-weight: 700;
}
.content-bottom-info-list:li:nth-child(4) {
    text-decoration: line-through;
    color: #273d46;
}
.content-bottom-info-list:li:nth-child(4) span {
    opacity: .3;
}
.content-bottom-info__link {
    padding: 0px 30px;
    height: 40px;
    display: inline-block; 
    /* позволяет работать с высотой у строчного элемкнта */
    box-shadow: 0px 5px 1px rgba(0, 0, 0, .1);
    line-height: 44px;
    border-radius: 24px;
    background-color: #80b7b3;
    height: 44px;
    box-shadow: 0 6px 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}
.content-bottom-info__link span {
    background: url('../img/icons/arrow.svg') right no-repeat;
    padding: 0 30px 0 0;
}
.content-bottom-info__link:hover {
    background-color: #511e23;
}
.content-bottom-info-list:active {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, .1);
    position: relative;
    top: 3px;
}
/* 43 minets of that video */