.content {
    display: flex;
    height: 200px;
    background-color: #ccc;
    justify-content: space-around;
    /* flex-direction: column; */
    /* align-items: center; */
    /* используется с align-items: center;
     - из-за размещения блоков по вертикале на 90 градусов */
}
.block {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
}
.block-2 {
    align-self: center;
    /* прижатие к центру по отношению к основному блоку */
}
.block-3 {
    align-self: flex-end;
    /* прижатие к нижней границу основного блока */
}