.block {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    display: inline;
    
    /* inline - создает параметыр блоку авто на высоту и ширину */
    /* inline-block - блоки имеют маленький пробел между друг другом( нужно удалить пробелы в html) */
}